@import 'colors.css';

.son-notification-container {
  padding: 25px;
  padding-left: 150px;
  padding-right: 150px;
}

.son-notification-header {
  color: #CD040B;
  /*border-bottom: 2px solid black;*/
  /*border-left: 1px solid black;*/
}

.son-notification-data {
  background-color: #F2F2F2;
  width: 100%;
  height: 7.2em;
  resize: none;
  color: black;
}

.vzw-red {
  color: #CD040B;
}

.leaflet-contextmenu {
    display: none;
    box-shadow: 0 1px 7px rgba(0,0,0,0.4);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 0;
    background-color: #fff;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item {
    display: block;
    color: #222;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    padding: 0 12px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: default;
    outline: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled {
    opacity: 0.5;
}

.Select-input input {
  font-weight: 400;
}

.leaflet-contextmenu a.leaflet-contextmenu-item.over {
    background-color: #f4f4f4;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled.over {
    background-color: inherit;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.leaflet-contextmenu-icon {
    margin: 2px 8px 0 0;
    width: 16px;
    height: 16px;
    float: left;
    border: 0;
}

.leaflet-contextmenu-separator {
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
}

.bg-vzw-red {
  background-color: #CD040B;
}

.white-text {
  color: white !important;
}

.ace-nav > li.white > a {
  background-color: transparent;
}
.detail-row {
  margin-bottom: 15px;
}

.detail-row strong {
  color: #cd040b;
}

.highlight-controller-icon:hover {
    color: #cd040b !important;
}

.glyphicon-wrench:hover {
    color: #cd040b !important;
}

.site-login-form {
  margin: 0px 0px 10px 0px !important;
  padding-top: 30px !important;
}

.leaflet-pane div.leaflet-editing-icon{
  width: 10px !important;
  /*Important overides default leaflet css*/
  height: 10px !important;
  margin-left: -5px !important;
  margin-top: -5px !important;
}

.leaflet-pane div.leaflet-editing-icon:hover {
  width: 20px !important;
  /*Important overides default leaflet css*/
  height: 20px !important;
  margin-left: -10px !important;
  margin-top: -10px !important;
}

.vzwtable {
  font-size: 8pt;
}

.vzwtable input {
  margin-bottom: 5px;
}

.vzwtable textarea {
  margin-bottom: 5px;
}

.vzwtable > th {
  font-size: 8pt;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  float: left;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 5px;
}

.vzwtable > tbody > tr > td {
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.vzwtable td > label {
  font-size: 8pt;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  width: 100%;
  float: left;
  font-weight: bold;
  margin-bottom: 1px;
}

.section-header {
  background-color: #E4E5E3;
  padding: 5px !important;
  font-size: 8pt;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  margin-bottom: 1px;
}

input, select {
  background: #fff !important;
  color: black !important;
}

.list-group-item {
  color: #0066CC !important;
}

.list-group-item.active, .list-group-item.active:hover {
  background-color: #E2E2E4  !important;
  border-color: #E2E2E4  !important;
  color: #000000 !important;
  font-weight: bold;
}

.expand-button {
  background: transparent;
  border: 0px;
}

.table button:focus {
  outline: 0;
}

.table td {
  color: black;
}

thead>tr>th>div>ul.dropdown-menu {
  position: fixed;
  left: unset;
  top: unset;
}

.bootstrap-typeahead-menu.dropdown-menu {
  position: relative;
  left: unset;
  top: unset;
}

span>span>span>ul.select2-results__options {
  overflow-y: visible !important;
}

.select2-dropdown {
  overflow-y: scroll;
  box-shadow: none !important;
}

.nav-tabs > li.active{
  font-weight: bold;
}

.nav-tabs.topborder > li.active{
   border-top: 3px solid #ED1C24;
}

.tableheader > tbody > tr > td {
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.white-background {
  background: white !important;
}
th {
  color: black !important;
}

.tableheader {
  font-size: 8pt;
}

.tableheader th {
  font-size: 8pt;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 5px;
}

.vzwtable pre {
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: inherit;
  background-color: transparent;
  border: none;
}

.double-decker-header-top {
  background-image: linear-gradient(to bottom, #F8F8F8, #F2F2F2);
  background-image: -webkit-linear-gradient(top, #F8F8F8, #F2F2F2);
  background-repeat: repeat-x;
  border-bottom: none !important;
  vertical-align: bottom !important;
}

.double-decker-header-bottom {
  background-image: linear-gradient(to bottom, #F2F2F2, #ECECEC);
  background-image: -webkit-linear-gradient(top, #F2F2F2, #ECECEC);
  background-repeat: repeat-x;
  border-top: none !important;
}

.full-gradient {
  background-image: linear-gradient(to bottom, #F8F8F8, #ECECEC);
  background-image: -webkit-linear-gradient(top, #F8F8F8, #ECECEC);
  background-repeat: repeat-x;
}

.btn-grey:hover {
  color: #FFFFFF !important;
}

.label-red, .label-alarms {
  background-color: #ED1C24  !important;
  font-weight: bold;
}

.label-tickets {
  background-color: #FF7B1F  !important;
  font-weight: bold;
}

.label-orange {
  background-color: #FF6700  !important;
  font-weight: bold;
}

.label-purple, .label-workorders {
  background-color: #770CE8  !important;
  font-weight: bold;
}

.label-black, .label-tasks {
  background-color: #000000  !important;
  font-weight: bold;
}

.label-blue, .label-pms {
  background-color: #0000FF  !important;
  font-weight: bold;
}

.label-green, .label-none {
  background-color: #00B050  !important;
}

.label-yellow {
  background-color: #FFFF00 !important;
  font-weight: bold;
}

.cluster {
  font-size: 12px;
  border-radius: 50%;
  text-align: center !important;
  color: white;
  font-weight: 700;
  border: 2px solid #FFFFFF;
  font-family: monospace;
  vertical-align: middle !important;
  height: 28px !important;
  width: 28px !important;
  padding-top: 2px;
}

.digits-1 {
  background-color: #FF0000  !important;
  font-size: 14px;
  height: 28px;
  width: 28px;
}

.digits-2 {
  background-color: #FF0000  !important;
  font-size: 16px !important;
  height: 34px !important;
  width: 34px !important;
}

.digits-2:before {
  border-width: 2px !important;
}

.digits-3 {
  background-color: #FF0000 !important;
  font-size: 18px !important;
  height: 48px !important;
  width: 47px !important;
  padding-top: 8px;
}

.digits-3:before {
  border-width: 3px !important;
}

.digits-4 {
  background-color: #FF0000  !important;
  font-size: 18px !important;
  height: 58px !important;
  width: 58px !important;
  padding-top: 12px;
}

.digits-4:before {
  border-width: 4px;
}

.digits-5 {
  background-color: #FF0000 !important;
  font-size: 18px !important;
  height: 68px !important;
  width: 68px !important;
  padding-top: 18px;
}

.digits-5:before {
  border-width: 5px;
}

.wordWrap{
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.breadcrumbs {
  border-bottom: 0px solid transparent;
  display: inline;
}

.bootstrap-typeahead-menu > li > a:hover, .bootstrap-typeahead-menu > li > a:focus {
    background-color: #ED1C24 !important;
    color: #FFFFFF;
}

.bootstrap-typeahead-menu > li.active > a {
    background-color: #ED1C24;
    color: #FFFFFF;
}

.table-top {
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  height: 34px;
  margin-bottom: 5px;
}

.table-top .buttons {
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
          align-self: flex-end;
  -ms-flex-item-pack: end;
  -webkit-align-content: flex-end;
          align-content: flex-end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  height: 30px;
  width: 150px;
  min-width: 90px;
}

.table-top .search-bar {
  -ms-flex: initial;
  -webkit-flex: initial;
          flex: initial;
  width: 250px;
  min-width: 150px;
}

.table-top > label {
  margin-right: 10px;
}

.dropdown {
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -ms-flex: 3;
  -webkit-flex: 3;
          flex: 3;
  margin-left: 25px;
}

.legend {
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -ms-flex: 3;
  -webkit-flex: 3;
          flex: 3;
}

.legend > div, .legend-div {
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 21px;
  width: 21px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.legend-div > input {
  cursor:'pointer'
}

.legend > label, .legend-label {
  margin-left: 5px;
  margin-right: 15px;
  margin-bottom: 0px;
}

.buttons > a {
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-right: 20px;
}

.site-header-login {
  font-weight: bold;
  width: 300px;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display:         inline-flex;
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
          align-self: flex-start;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  margin-right: 20px;
  margin-top: 2px;
}

.flex-box.right {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display:         inline-flex;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.self-centered {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display:         inline-flex;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
          align-self: center;
}

.centered-content {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display:         inline-flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;

}

.atlwdg-trigger {
  right: 30px !important;
}

.vzwaffix {
  position: fixed;
  top: 72px;
}

.Critical {
  background-color: #ff3c52 !important;
  text-align: left;
}

.Major {
  background-color: #f0aa0b !important;
  text-align: left;
}

.Minor {
  background-color: #e0df0e !important;
  text-align: left;
}

.Warning {
  background-color: #537cec !important;
  text-align: left;
}

.Indeterminate {
  background-color: #ff8ce7 !important;
  text-align: left;
}

.none {
  background-color: #00B050  !important;
}

.light-grey, .light-gray {
  background-color: #C8D2D8 !important;
}

.btn {
  border-radius: 4px;
}

.btn.light-grey, .btn.light-gray {
  border: 4px solid #C8D2D8;
}

.dark-grey, .dark-gray {
  background-color: #A0A0A0;
}

.btn.dark-grey, .btn.dark-gray {
  border: 4px solid #A0A0A0;
}

.btn.light-grey:hover, .btn.light-gray:hover, .btn.dark-grey:hover, .btn.dark-gray:hover {
  border: 4px solid #cd040b;
  background-color: #cd040b !important;
  color: #FFFFFF !important;
}

.btn.light-grey:focus, .btn.light-gray:focus {
  border: 4px solid #C8D2D8;
  background-color: #C8D2D8 !important;
  color: #FFFFFF !important;
}

.btn.dark-grey:focus, .btn.dark-gray:focus {
  border: 4px solid #A0A0A0;
  background-color: #A0A0A0 !important;
  color: #FFFFFF !important;
}

.transparent-background {
  background-color: transparent;
}

.enodeb-marker {
  background-color: #00B050;
  border-radius: 100px;
}

.enodeb-marker:hover {
  /*Overwrite leaflet style with important*/
  margin-left: -7px !important;
  margin-top: -7px !important;
  width: 14px !important;
  height: 14px !important;
}

.edit-control-buttons{
  border: none;
}

.leaflet-draw a.leaflet-draw-edit-edit,
.leaflet-draw a.leaflet-draw-edit-remove {
  display: none;
}

.map-controller {
  margin-top: 0;
  padding-top: 0;
  border: 1px solid #d4d4d4;
  border-left: none;
  border-top: 0;
}

.map-controller label,
.map-controller input,
.map-controller li {
  font-size: 9pt
}

.map-controller-bottom {
  background: #f1f1f1;
  padding-top: 3px;
  border-top: 1px solid #d4d4d4;
}

.map-controller-bands .section-header {
  margin-top: 0;
}

.map-controller-bands .band-label {
  padding-left: 5px;
}

.map-controller-layers ul.list-group {
  padding-left: 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.map-controller-layers label {
  margin-bottom: 0;
}

.map-controller-search-container .full-gradient {
  background-image: linear-gradient(to bottom, #F8F8F8, #ECECEC);
  background-image: -webkit-linear-gradient(top, #F8F8F8, #ECECEC);
  background-repeat: repeat-x;
}

.map-controller-layers-toolbar i.glyphicon + i.glyphicon {
  margin-left: 4px;
}

.map-controller-filter-parameters ul.filter-parameters-list {
  margin-left: 5px;
  list-style-type: none;
  margin-bottom: 5px;
}

.map-controller-filter-parameters ul.filter-parameters-list li:hover,
.map-controller-filters ul.filter-dropdown li:hover,
#edit-algorithm-conditions-accordion div.condition:hover {
  background-color: #F9F9F9;
}

.map-controller-filters ul.filter-dropdown li {
  color: #000000;
  margin: 2px 2px 2px 3px;
  font-weight: normal;
}

.map-controller-filters ul.filter-dropdown li + li {
  border-top: 1px solid #e5e5e5;
  padding-top: 2px;
}

.map-controller-filter-parameters ul.filter-parameters-list li i.glyphicon {
  margin-right: 3px;
  float: left;
}

.map-controller-filter-parameters ul.filter-parameters-list li i.glyphicon:hover {
  color: #cd040b;
}

/*.layer-container div.layer-geofence-container li i.glyphicon:hover {
  color: #cd040b;
}*/

.layer-container i.controller-delete-icon:hover {
  color: #cd040b;
}

.layer-container i.controller-delete-icon {
  margin-right: 3px;
  margin-top: 5px;
}

.map-controller-filter-parameters ul.filter-parameters-list li p {
  overflow: hidden;
  margin-bottom: 3px;
}

.map-controller-layers .layer-geofence-container ul {
  margin-left: 18px;
}

.parameter-modal-listing-container {
  margin-top:15px;
}

.modal-open .modal {
  overflow: visible !important;
}

.parameter-modal-listing-container h5 {
  margin-bottom: 5px;
}

.parameter-modal-listing-container tr .gradebook-icon-delete {
  color: #cd040b;
}

.enodeb-filter-disabled,
.enodeb-geofencefilter-disabled {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.enodeb-sector-filter-disabled,
.enodeb-sector-geofencefilter-disabled {
  display: none;
}

@keyframe blinking-red {
  from {background-color: #CD040B;}
  to {background-color: 'transparent';}
}

@-webkit-keyframes blinking-red {
  from {background-color: #CD040B;}
  to {background-color: 'transparent';}
}

div.view-activation-highlighted-marker,
div.view-algorithm-highlighted-marker {
  animation-name: blinking-red;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-name: blinking-red;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}

.hiddenSector {
  display: none;
}

.altBackgrdColor:nth-child(even) {
  background-color: #F9F9F9;
}

.altBackgrdColor:hover {
  background-color: yellow;
}

.centered {
    left: 50%;
    transform: translateX(-50%);
}

.modal {
  position: fixed !important;
  transform: translate3d(0px, 0px, 0px);

  /*left: 501px;*/
  top: -12px;
  right: auto;
  bottom: auto;
  margin: 0px;
  padding-right: 17px;
}

.results-nonengaged td {
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  max-width: 200px;
}

.results-engaged td {
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  max-width: 100px;
}

/* To hide the arrow dropdown in react-select elements */
.Select.gradebook-hide-arrow-dropdown .Select-arrow-zone {
  display: none !important;
}

.marker-label {
  color: black;
  font-weight:bold;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0);
  /*padding-left: -20px;
  padding-right: -20px;*/
  border: 0;
  border: none;
  background-clip: padding-box;
  box-shadow: none;
  margin-top:1px;
  margin-left: -1px;

}
.marker-label:before {
  /*color: black;*/
  /*font-weight:bold;*/
  /*background-color: rgba(255, 255, 255, 0);*/
  /*padding-left: -20px;
  padding-right: -20px;*/
  border: 0;
  border: none;
  /*background-clip: padding-box;*/
  box-shadow: none;
}

.react-contextmenu-wrapper {
  display: inline;
}

.react-contextmenu {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 9pt;
  color: #373a3c;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  outline: none;
  opacity: 0;
  pointer-events: none;
  display: inline-block;
  z-index: 50000000;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
}

.react-contextmenu-item {
  padding: 3px 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item:hover {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  color: #878a8c;
  background-color: transparent;
  border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item--divider {
  margin-bottom: 3px;
  padding: 2px 0;
  border-bottom: 1px solid rgba(0,0,0,.15);
  cursor: inherit;
}
.react-contextmenu-item--divider:hover {
  background-color: transparent;
  border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}

.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}

.gradebook-drag-handle:hover {
  cursor: move;
}

/* Hide the default close button on a react-modal-dialog component */
#rule-condition-modal a.narcissus_86uon7 {
  display: none;
}

/* Hide the default close button on the edit algorithm modal */
#modal-edit-algorithm a.narcissus_86uon7 {
  display: none;
}

#rule-condition-modal div.condition-rule-set > div.react-contextmenu-wrapper {
  float: left
}

.condition-rule-attribute {
  display: inline-flex;
  width: 400px;
  font-size: 14px;
  text-align: left;
}

.algorithm-condition-container-if:after {
  content: 'IF';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  font-size: 18px;
  font-weight: 700;
}

.Select-menu-outer {
  z-index: 2700;
}

.ifClause-condition-set {
  margin-top: 15px;
}

.condition-list-ol {
  counter-reset: section;                /* Creates a new instance of the
                                            section counter with each ol
                                            element */
  list-style-type: none;
  margin-left: 0;
}

.condition-list-li::before {
  counter-increment: section;            /* Increments only this instance
                                            of the section counter */
  content: counters(section, ".") ".";   /* Combines the values of all instances
                                            of the section counter, separated
                                            by a period */
}

.condition-list-li span.expression {
  margin: 2px;
  text-decoration: none;
  color: #15C;
}

.condition-list-li span.expression:hover {
  text-decoration: none;
  cursor: default;
}

.condition-list-li span.expression span.comparator {
  margin: 0 3px
}

.condition-list-li span.expression span.operator {
  padding: 0 3px
}

/* So that we do not have multiple spacing between adjacent operators make the left margin 0 */
.condition-list-li span.expression span.operator + span.operator {
  padding: 0 3px 0 0
}

.headless.nav-tabs > li.active > a {
  color: #cd040b;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 2px solid #cd040b !important;
  box-shadow: none !important;
  background-color: #FFF;
  z-index: 1;
  margin-bottom: 10px;
}

.headless.nav-tabs > li.active > a:hover {
  border-top: 0px;
  box-shadow: none;
  border-bottom: 2px solid #cd040b;
  border-left: 0px;
  border-right: 0px;
}

.headless.nav-tabs > li > a {
  color: #0066CC;
  background-color: #FFF;
  border: 0px;
  margin-right: -1px;
  line-height: 18px;
  position: relative;
  margin-bottom: 10px;
  background-color: #FFF;
}

.headless.nav-tabs {
  border-bottom: 0px solid transparent;
}

div.ag-react-container{
  display: inline-block;
  width:100%;
}
