.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Row {
  display: flex;
  flex-direction: row;
}

.Column {
  display: flex;
  flex-direction: column;
}

.list-group{
  height: 400px;
  width: 400px;
  margin-bottom: 1%;
  display: flex;
  overflow-y:auto;
  overflow-x:hidden;
  border: 1px solid dodgerblue;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
}
.Input {
  width: 400px;
  margin: auto;
  margin-top: 40px;
  font-style: italic;
}
.pointer {cursor: pointer;}
.SimpleButton {
  width: 400px;
  margin: auto;
  margin-top: 5px;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
}

.btn:focus {
  outline: none;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
