.color-vzw-red {color: #cd040b;}
.color-link-blue {color: #0066CC;}

.color-red {color: #ED1C24;}
.color-orange {color: #FF6700;}
.color-purple {color: #770CE8;}
.color-black {color: #000000;}
.color-blue {color: #0000FF;}
.color-green {color: #00B050;}
.color-yellow {color: #FFFF00;}

.color-critical {color: #ff3c52;}
.color-major {color: #f0aa0b;}
.color-minor {color: #e0df0e;}
.color-warning {color: #537cec;}
.color-indeterminate {color: #ff8ce7;}
.color-none {color: #14ec41;}

.color-turquoise {color: #1ABC9C;}
.color-green-sea {color: #16A085;}
.color-emerald {color: #2ECC71;}
.color-nephritis {color: #27AE60;}
.color-base-t {color: #92cef1;}
.color-peter-driver {color: #3498DB;}
.color-belize-hole {color: #2980B9;}
.color-amethyst {color: #b094de;}
.color-wisteria {color: #8E44AD;}
.color-wet-asphalt {color: #34495E;}
.color-sun-flower {color: #F1C40F;}
.color-pale-yellow {color: #f4cf77;}
.color-pale-orange {color: #F39C12;}
.color-carrot {color: #E67E22;}
.color-pumpkin {color: #D35400;}
.color-alizarin {color: #E74C3C;}
.color-pomegranate {color: #C0392B;}
.color-clouds {color: #ECF0F1;}
.color-silver {color: #BDC3C7;}
.color-concrete {color: #95A5A6;}
.color-asbestos {color: #7F8C8D;}
.color-slate {color: rgb(64,75,83);}
.color-sky-blue {color: #6ef7f0;}
.color-violet {color: #8e70e4;}
.color-petroil {color: #21a0a8;}
.color-pink-purple {color: #b11e5b;}
.color-green-highlighter {color: #83ff6c;}

.bg-color-link-blue {background-color: #0066CC;}

.bg-color-red {background-color: #ED1C24;}
.bg-color-orange {background-color: #FF6700;}
.bg-color-purple {background-color: #770CE8;}
.bg-color-black {background-color: #000000;}
.bg-color-blue {background-color: #0000FF;}
.bg-color-green {background-color: #00B050;}
.bg-color-yellow {background-color: #FFFF00;}

.bg-color-critical {background-color: #ff3c52;}
.bg-color-major {background-color: #f0aa0b;}
.bg-color-minor {background-color: #e0df0e;}
.bg-color-warning {background-color: #537cec;}
.bg-color-indeterminate {background-color: #ff8ce7;}
.bg-color-none {background-color: #14ec41;}

.bg-color-turquoise {background-color: #1ABC9C;}
.bg-color-green-sea {background-color: #16A085;}
.bg-color-emerald {background-color: #2ECC71;}
.bg-color-nephritis {background-color: #27AE60;}
.bg-color-base-t {background-color: #92cef1;}
.bg-color-peter-driver {background-color: #3498DB;}
.bg-color-belize-hole {background-color: #2980B9;}
.bg-color-amethyst {background-color: #b094de;}
.bg-color-wisteria {background-color: #8E44AD;}
.bg-color-wet-asphalt {background-color: #34495E;}
.bg-color-sun-flower {background-color: #F1C40F;}
.bg-color-pale-yellow {background-color: #f4cf77;}
.bg-color-pale-orange {background-color: #F39C12;}
.bg-color-carrot {background-color: #E67E22;}
.bg-color-pumpkin {background-color: #D35400;}
.bg-color-alizarin {background-color: #E74C3C;}
.bg-color-pomegranate {background-color: #C0392B;}
.bg-color-clouds {background-color: #ECF0F1;}
.bg-color-silver {background-color: #BDC3C7;}
.bg-color-concrete {background-color: #95A5A6;}
.bg-color-asbestos {background-color: #7F8C8D;}
.bg-color-slate {background-color: rgb(64,75,83);}
.bg-color-sky-blue {background-color: #6ef7f0;}
.bg-color-violet {background-color: #8e70e4;}
.bg-color-petroil {background-color: #21a0a8;}
.bg-color-pink-purple {background-color: #b11e5b;}
.bg-color-green-highlighter {background-color: #83ff6c;}
