<!doctype html>
<html>
  <head>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge;"/>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel='icon' href='/favicon.ico'/>
    <style>
      HTML { display:none; }
    </style>
    <script>
      if (self == top) {
        document.documentElement.style.display = 'block';
      } else {
        top.location = self.location;
      }
    </script>
  </head>
  <body class="no-skin">
  	<div id="app"></div>
    <script>
      var ua = window.navigator.userAgent;
      if (ua.indexOf('Edge/') > 0 || ua.indexOf('Trident/') > 0 || ua.indexOf('MSIE ') > 0) {
        L_PREFER_CANVAS = true;
      }
    </script>
  </body>
</html>
